* {font-family: Helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(17, 23, 22);
}

.container {
    background: white;
    height: auto;
    width: 600px;
    margin: 0 auto;
    padding: 10px 10px;
}

.title {
    background-color: black;
    color:white;
    font-size:30px;
}

.description {
    background-color: black;
    color: white;
    font-size: 17px;
    font-style: italic;
    padding: 0px 10px 10px 10px;
}

img.coverphoto{
    width: 580px;
    height: auto;
    margin: 10px auto;
}


.recipeimage {
    width: 163.3px;
    height: auto;
    margin: 10px 10px 10px 10px;
}

.recipecard{
    background-color: rgb(29, 27, 25);
    text-align: left;
    color: white;
    margin: 5px;
}

a.recipelink{
    font-size: 20px;
    margin: 20px 10px;
    display:block;
    text-align: center;
    color: white;

}

.recipedescription{
    margin: 10px;

}

.recipes {
    display: flex;
}