div {
    font-family:Helvetica, Geneva, Tahoma, sans-serif; background-color: antiquewhite;
    height: auto;
    width: 600px;
    text-align: center;
}

.header{
    height:auto;
    width: 550px;
    
}

img {
    display:inline-block;
}

ul {
    background-color: rgb(211, 240, 243);
    list-style-type: none;
    line-height: 1.5;
   ;
}

a {text-decoration: none;}

.description{
    text-align: left;
    line-height: 1.5;
    margin-bottom: 10%;
}
